
<br />
<h2 class="text-center">Afisare</h2>

<br />

@if(ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<br />

@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>


@foreach (var post in ViewBag.Posts)
{
    <div class="card">


        <a style="text-decoration:none; color:black"
           asp-controller="Posts" asp-action="Show" asp-route-id="@post.Id">
            @{
                ViewData["CurrentUserId"] = ViewBag.UserCurent;
                ViewData["Likes"] = ViewData[$"Likes_{post.Id}"];
            }
            <partial name="PostInfo" model="post" viewdata="ViewData"></partial>
        </a>

    </div>

    <br />
    <br />
}


<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>