@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<br />
<h2 class="text-center">@Localizer["Header_Display"]</h2>
<br />

@if (ViewBag.Message != null)
{
    <div class="alert alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @Localizer["Message_Success"]: @ViewBag.Message
    </div>
}
<br />

@* Search Form *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="@Localizer["Placeholder_Search"]" name="search"
               value="@ViewBag.SearchString">
        <button type="submit">
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">@Localizer["Button_Search"]</span>
        </button>
    </div>
</form>

@* Posts List *@
@if (ViewBag.Posts != null && ViewBag.Posts.Count > 0)
{
    <div class="d-flex flex-column align-items-center">
        @foreach (var post in ViewBag.Posts)
        {
            <div class="mb-4">
                <a style="text-decoration:none; color:black; display: block;"
                   asp-controller="Posts" asp-action="Show" asp-route-id="@post.Id">
                    @{
                        ViewData["CurrentUserId"] = ViewBag.UserCurent;
                        ViewData["Likes"] = ViewData[$"Likes_{post.Id}"];
                    }
                    <partial name="PostInfo" model="post" viewdata="ViewData"></partial>
                </a>
            </div>
        }
        @* Spacer at the end of the page *@
    
    </div>
    <br />
}
else
{
    <div class="text-center text-muted">
        <p>@Localizer["Message_NoPostsFound"]</p>
    </div>
}

@* Pagination *@
<div class="mb-5">
    <nav aria-label="@Localizer["Navigation_Pages"]">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="@Localizer["Navigation_Previous"]">
                    <span aria-hidden="true">@Localizer["Navigation_Previous"]</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@i</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="@Localizer["Navigation_Next"]">
                    <span aria-hidden="true">@Localizer["Navigation_Next"]</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

