
@{
    var searchQuery = ViewBag.SearchString;
    bool hasSearched = searchQuery.Length != 0;
}

@if (ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<br />

@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search" value="@ViewBag.SearchString">
        <button type="submit">
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">  Search</span>
            
           </button>
    </div>
</form>

@if(!hasSearched) 
{
    if(ViewBag.OwnGroups != null)
    {
        <br />
        <h2>Your Groups</h2>
        <br />
        @foreach (var group in ViewBag.OwnGroups)
        {
            <div >


                <a style="text-decoration:none; color:black" asp-controller="Groups" asp-action="Show" asp-route-id="@group.Id">
                    <partial name="GroupInfo" model="group" />
                </a>

            </div>

            <br />
            <br />
        }
    }

    <br />
    <h2>Others also liked...</h2>
    <br />
}
else
{
    <br />
    <h2>Groups '@ViewBag.SearchString'</h2>
    <b />
}

@foreach (var group in ViewBag.Groups)
{
    if (ViewBag.OwnGroups == null || !ViewBag.OwnGroups.Contains(group) || !group.PrivateGroup)
    {
        <a style="text-decoration:none; color:black" asp-controller="Groups" asp-action="Show" asp-route-id="@group.Id">
            <partial name="GroupInfo" model="group" />
        </a>

        <br />
        <br />
    }
}


<div>
    <nav aria-label="Navigare" class="mt-4">
        <ul class="pagination justify-content-center">
            <!-- Previous Button -->
            <li class="page-item @((ViewBag.currentPage == 1) ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <!-- Page Numbers -->
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item @(i == ViewBag.currentPage ? "active" : "")">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                </li>
            }

            <!-- Next Button -->
            <li class="page-item @((ViewBag.currentPage == ViewBag.lastPage) ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>