@using Microsoft.AspNetCore.Identity
@model proiect_daw.Models.Group
@inject UserManager<ApplicationUser> UserManager

@{
    var currentUserId = UserManager.GetUserId(User);
    var isModerator = Model.ModeratorId == currentUserId;
}

<div class="container mt-5">
    <h3>Group: @Model.Name</h3>
    <p>@Model.Description</p>

    @if (TempData["Message"] != null)
    {
        <div class="alert @TempData["messageType"]">
            @TempData["Message"]
        </div>
    }

    <h4>Users in this Group</h4>
    <div class="row">
        @foreach (var user in ViewBag.Users)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@user.FirstName @user.LastName</h5>
                        <p class="card-text">@user.Email</p>
                        @if (isModerator && user.Id != Model.ModeratorId)
                        {
                            <form asp-controller="Groups" asp-action="RemoveUser" method="post" class="d-inline">
                                <input type="hidden" name="groupId" value="@Model.Id" />
                                <input type="hidden" name="userId" value="@user.Id" />
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>